html {
  height: 100%;
}

#root {
  height: 100%;
}
ol {
  list-style-position: outside;
  padding-left: 2em;
  text-indent: -2em;
}
body {
  margin: auto;
  padding: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 12px;
  line-height: 29px;
  color: #253658;
  height: 100%;
}
.chapter-list {
  height: 70%;
  width: 30%;
  /* margin-left: 20px; */
}
.line:hover {
  background: rgba(0, 171, 254, 0.08);
  padding: 2px; /* reduce padding to make hover effect more narrow */
  margin: 2px; /* reduce margin to make hover effect more narrow */
}
.chapter-box {
  align-items: left;
  flex-direction: column;
  display: flex;
  width: 95%;
  border: 1px solid rgba(123, 141, 177, 0.6);
  border-radius: 10px;
  padding-left: 10px;
}
.startText {
  margin-left: 15px;
}
.video-container {
  display: flex;
  justify-content: space-around;
  height: 93%;
  width: 100%;
  align-items: center;
}
.navbar {
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-video {
  width: 70%;
  height: 70%;
  border: 1px solid rgba(123, 141, 177, 0.6);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.finished-videos {
  background: rgba(0, 171, 254, 0.08);
  border-radius: 40px;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.outDivList {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 20px;
}

.chapter-list {
  box-sizing: border-box;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .listPointsDiv {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  body {
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    line-height: 29px;
    color: #253658;
    height: 100%;
  }
  .nextBtn {
    /* display: none; */
    width: 24px;
    height: 24px;
    left: 308px;
    top: 116px;
    margin-right: 15px;
    align-self: center;
  }
  ul {
    padding: 0%;
  }
  .listPointsDiv {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 50%;
  }
  .list-div {
    max-width: 73%;
    float: left;
    top: 144px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0%;
  }
  .startText {
    font-size: 9px;
    margin-left: 15px;
    margin-right: 57px;
  }
  .outDivList {
    display: flex;
    flex-direction: column;
  }
  .player-video {
    width: 90%;
    height: 31%;
    border: 1px solid rgba(123, 141, 177, 0.6);
    border-radius: 10px;
  }
  .video-container {
    display: flex;
    justify-content: space-around;
    height: 63%;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    border-radius: 10px;
  }
  .header-list {
    display: flex;
    /* width: 120%; */
    font-size: 14px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  .chapter-list {
    display: flex;
    box-sizing: border-box;
    width: 406px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .chapter-box {
    align-items: left;
    flex-direction: column;
    display: flex;
    /* width: 88%; */
    border: 1px solid rgba(123, 141, 177, 0.6);
    border-radius: 10px;
    padding-left: 6px;
  }
  .infoBox {
    border: 1px solid rgba(123, 141, 177, 0.6);
    border-radius: 20px;
    height: 30%;
  }
}

.header-list {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.line {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
