body {
  margin: auto;
  width: 50%;
  padding: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 12px;
  line-height: 29px;
  /* identical to box height */

  /* BlueBlack/100 */

  color: #253658;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.chapter-list {
  position: fixed;
  height: 100%;
  width: 100%;
}
.hover-txt:hover {
  color: #00abfe;
  padding: 2px; /* reduce padding to make hover effect more narrow */
  margin: 2px; /* reduce margin to make hover effect more narrow */
}
.chapter-box {
  align-items: left;
  display: flex;
  position: absolute;
  height: 53%;
  width: 88%;
  border: 1px solid rgba(123, 141, 177, 0.6);
  border-radius: 10px;
}
.startText {
  position: fixed;
  left: 2%;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.player-video {
  position: absolute;
  top: 20%;
  left: 0;
  width: 150%;
  height: 100%;
}
.headerList {
  position: fixed;
}
.finished-videos {
  /* Blue/8

#00ABFE
*/
  position: absolute;
  left: 40%;
  top: 3%;
  width: 8%;
  background: rgba(0, 171, 254, 0.08);
  border-radius: 40px;
}
.outDivList {
  align-items: center;
  display: flex;
  position: absolute;
  width: 30%;
  height: 20%;
  left: 2%;
  top: 20%;
}
.chapter-list {
  box-sizing: border-box;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 932px;
  top: 230px;

  background: #ffffff;
  /* DeadBlue/60

#7B8DB1
*/
}
