body {
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 231px;
  height: 29px;

  font-family: 'Inter';
  font-style: normal;
  /* identical to box height */

  /* BlueBlack/100 */

  color: #253658;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.video-container {
  box-sizing: border-box;
  position: relative;
  width: 883px;
  height: 496px;
  left: 20px;
  top: 172px;
  border: 1px solid rgba(123, 141, 177, 0.6);
  border-radius: 10px;
  overflow: hidden; /* ensures that the video stays within the container */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.outDivList {
  align-items: center;
  display: flex;
  position: absolute;
  width: 1192px;
  height: 220px;
  left: 42px;
  top: 144px;
}
.chapter-list {
  box-sizing: border-box;

  position: absolute;
  width: 493px;
  height: 260px;
  left: 932px;
  top: 230px;

  background: #ffffff;
  /* DeadBlue/60

#7B8DB1
*/
  border: 1px solid rgba(123, 141, 177, 0.6);
  border-radius: 10px;
}
