.rectangle {
  position: relative;
  width: 96.56px;
  height: 28px;
  margin: 15px;
  background: rgba(0, 66, 197, 0.6);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
}
.infoBox {
  border: 1px solid rgba(123, 141, 177, 0.6);
  border-radius: 20px;
  height: 60%;
  width: 50%;
}
.chapter-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

.list-div {
  float: left;
  top: 144px;
  margin: 20px;
  overflow-wrap: break-word; /* Wrap the text into multiple lines */
}
.list-div h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.list-div .btn:hover {
  background-color: #005da9;
}
